################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApprenticeAspNetMvc.Web/bin/Debug/net6.0
/ApprenticeAspNetMvc.Web/obj
/UserStoryDB/bin/Debug
/UserStoryDB/obj/Debug
/.vs
